Source: networking-onos
Section: net
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Mohammad Shahid <mohammad.shahid1@huawei.com>
Build-Depends: debhelper (>= 9),
               dh-python,
               dh-systemd,
               openstack-pkg-tools,
               po-debconf,
               python-all (>= 2.6),
               python-pbr (>= 0.6),
               python-sphinx (>= 1.2.1)
Build-Depends-Indep: python-babel (>= 1.3),
                     python-coverage (>= 3.6),
                     python-hacking,
                     python-neutron (>= 2015.1~b3),
                     python-oslosphinx,
                     python-oslotest,
                     python-testscenarios (>= 0.4),
                     python-testtools (>= 0.9.34),
                     python-webtest (>= 2.0),
                     subunit,
                     testrepository (>= 0.0.18)
Standards-Version: 3.9.6
Homepage: https://launchpad.net/networking-onos
Vcs-Browser: https://github.com/openstack/networking-onos

Package: python-networking-onos
Architecture: all
Section: python
Pre-Depends: dpkg (>= 1.15.6~)
Depends: python-babel (>= 1.3),
         python-neutron,
         python-pbr,
         ${misc:Depends},
         ${python:Depends}
Recommends: iputils-arping
Description: OpenStack virtual network service - ONOS plugin
 The networking-onos project provides a thin layer making the
 communication between ONOS and OpenStack neutron possible via ReST call.
 This package provides below supports for networking-onos
    - Neutron ML2 & L3 plugin functionality
    - Service function chaining using networking-sfc
    - Traffic classification using networking-sfc's flow classifier extension.
